* {
  margin: 0;
  padding: 0;
}

.header {
  background: #3b5999;
  color: #ffff;
  padding: 1rem;
  text-align: center;
}

.content {
  /** 가운데 위치  양옆으로 정렬 
    이후 flex-direction을 하면 세로 정렬을 한다 
    display : flex , greedy 사용법 공부 !!*/

  display: flex;
  flex-direction: column;
  align-items: center;
}
#todo-form {
  width: 300px;
  height: 30px;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

label {
  font-weight: bold;
  margin-right: 0.5rem;
}

input {
  padding: 0.1rem;
  height: 20px;
}

button {
  border: none;
  background: #3b5999;
  color: #ffff;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}
#todo-list {
  margin-top: 3rem;
  list-style: none;
  width: 300px;
  padding-left: 2rem;
}
.item {
  padding: 1rem;
}
